# Your Personal-Access-Token and the ID
# For more information about personal access tokens visit https://www.sipgate.io/rest-api/authentication#personalAccessToken
tokenId = 'YOUR_SIPGATE_TOKEN_ID'
token = 'YOUR_SIPGATE_TOKEN'

# You can use the "/{userID}/faxlines" endpoint to list the available faxline IDs for a given user (see https://api.sipgate.com/v2/doc#/faxlines/getUserFaxlines).
# Alternatively you can use the Node.JS library (see https://github.com/sipgate-io/sipgateio-node-examples#list-common-ids)
faxlineId = 'YOUR_SIPGATE_FAXLINE_EXTENSION'